/** HEADER **/

header {
/**    background-color: #FF3CAC;
    background-image: -webkit-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    background-image: -moz-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    background-image: -o-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);**/
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /**position: fixed;**/
    width: 100%;
    z-index: 99;
    border-bottom:1px solid #cccccc;
}

header h1#logo a {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    background-image: -webkit-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    background-image: -moz-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    background-image: -o-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left:20px;
}

header h1#logo a:hover {
    animation: colorChange 2s infinite;
}

@keyframes colorChange {
    0% {color: #00DBDE;}
    100% {color: #FC00FF;}
}

header > .login-info {
    margin-right:20px;
    
}

header > .login-info a {
    padding-left:20px;
    color: #2B86C5;
}

/**
header > .login-info a.hover_underline:after {
	content: '';
    position: absolute;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}


header > .login-info a.hover_underline:hover:after {
    opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);}
}
**/
header > .login-info #username {
    color: #2B86C5;
}

/** BODY **/

body {
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    color:#363636;
}


/** MAIN + POST */

main {
    background-color: white;
    padding: 16px;
}

main h2 {
    text-align: center;
    color: #36363d;

}

.post {
    margin-top:40px;
}

.post .photo img:hover {
    filter: saturate(10%);
}

.post .user-info img {
    border-radius: 50%;
}

.post .user-info {
    display:flex;
    align-items:center;
}

.post .user-info h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size:0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color:#CCC;
    
}


/** SIGNUP + LOGIN **/

/** .login_container {
    display:flex;
    align-items: center;
}**/

/** FORM FIELDS **/

label {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: block;
    margin-bottom: .5em;
    color:#FF3CAC;
}

input[type=text], input[type=password], input[type=email] {
    border: solid 1px #FF3CAC;
    padding: 1em;
    width: 100%;
    font-size: 1em;
    border-radius:6px;
}

input[type]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
input[type]::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
input[type]:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
input[type]:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

.button {
    padding: 1em;
    border-radius: 6px;
    background-color: #21D4FD;
    background-image: -webkit-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    background-image: -moz-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    background-image: -o-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    border: none;
    width: 100%;
    color: white;
    display: inline-block;
}