</<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700|Roboto+Slab">
        <link rel="stylesheet" href="../../public/stylesheets/lib.css">
        <link rel="stylesheet" href="../../public/stylesheets/app.css">
        <title>Finstagram</title>
    </head>
    <body>
        <header>
            <div id="logoMark"></div>
            <h1 id="logo">Instameow</h1>
        </header>
        <main role="main">
            <article class="post">
                <div class="user-info">
                    <img src="https://scontent-sea1-1.cdninstagram.com/t51.2885-19/s320x320/20766647_821708327997535_2233513706954686464_a.jpg" alt="sharky_j">
                    <h2>sharky_j</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="https://scontent-sea1-1.cdninstagram.com/t51.2885-15/e35/14711963_1783422968605433_1865108029532274688_n.jpg" alt="post from sharky_j">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            sharky_j: Out for the long weekend blah blah
                        </p>
                    </li>
                </ul>
            </article>
            <article class="post">
                <div class="user-info">
                    <img src="https://scontent-sea1-1.cdninstagram.com/t51.2885-19/s320x320/20766647_821708327997535_2233513706954686464_a.jpg" alt="kirk_whalum">
                    <h2>ebi.cat</h2>
                    <h3>1 hour ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="https://scontent-sea1-1.cdninstagram.com/t51.2885-15/e35/14727487_308569932862908_6793454337356988416_n.jpg" alt="post from kirk_whalum">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            ebi.cat: #weekendvibes
                        </p>
                    </li>
                </ul>
            </article>            
            <article class="post">
                <div class="user-info">
                    <img src="https://scontent-sea1-1.cdninstagram.com/t51.2885-19/s320x320/20766647_821708327997535_2233513706954686464_a.jpg" alt="marlin_peppa">
                    <h2>ebi.cat</h2>
                    <h3>1 hour ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="https://scontent-sea1-1.cdninstagram.com/t51.2885-15/e35/14582480_1599360837033959_5219208562626002944_n.jpg" alt="post from marlin_peppa">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            ebi.cat: lunchtime! ;)
                        </p>
                    </li>
                </ul>
            </article>                       
            
        </main>
    </body>
</html>