<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:300,400">
        <link rel="stylesheet" href="/stylesheets/lib.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
        <title>Finstagram</title>
    </head>
    <body>
        <header>
            <h1 id="logo"><a href="/">Instameow</a></h1>
            <div class="login-info">
                <% if current_user %>
                    <span id="username"><%= current_user.username %></span>
                    <a class="hover_underline" href="/logout">Logout</a>
                <% else %>
                    <a class="hover_underline" href="/login">Login</a>
                    <a class="hover_underline" href="/signup">Signup</a>
                <% end %>
            </div>
        </header>
        <main role="main">
            <%= yield %>
        </main>
    </body>
</html>